.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 355px;
  height: 66px;
}

.buttons {
  min-width: 310px;
  text-align: center;
  margin: 1rem 0;
  font-size: 0;
}

.buttons button {
  cursor: pointer;
  border: 1px solid silver;
  border-right-width: 0;
  background-color: #f8f8f8;
  font-size: 1rem;
  padding: 0.5rem;
  transition-duration: 0.3s;
  margin: 0;
}

.buttons button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.buttons button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-right-width: 1px;
}

.buttons button:hover {
  color: white;
  background-color: rgb(158 159 163);
  outline: none;
}

.buttons button.active {
  background-color: #0051b4;
  color: white;
}

.taiwan-image {
  height: 510px;
  width: 365px;
}

.pointer {
  cursor: pointer;
}
