/* header */
.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 355px;
  height: 66px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 10px 0;
}
.tab-container {
  position: relative;
  display: inline-block;
}
.tab {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #f0f1f1;
  cursor: pointer;
  border-radius: 5px;
  /* font-size: 14px; */
}
.tab:hover,
.tab.active {
  background-color: #f0f1f1;
}
.tab-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin-top: 8px;
}
.menu-container {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 4px 12px #00000014;
  padding: 15px;
  background-color: #fff;
  gap: 20px;
}
.menu-section {
  flex: 0 0 auto;
  padding: 0 10px;
  position: relative;
}
.menu-section:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #ccc;
}
.menu-section h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  position: relative;
}
.menu-icon::before {
  content: '▼';
  position: absolute;
  top: -4px;
  left: -8px;
  font-size: 16px;
}
.menu-section ul {
  list-style-type: none;
  width: 15rem;
  padding: 0;
  margin: 0;
}
.menu-section ul li {
  padding: 5px 0;
  /* font-size: 14px; */
}

.menu-section ul li:hover {
  background-color: #d8dad8;
}

.menu-section ul li.active {
  background-color: #e4e4e4;
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    align-items: flex-start;
  }
  .tab-container {
    width: 100%;
  }
  .tab {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  .tab-content {
    position: static;
    width: 100%;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .menu-section {
    padding: 0;
    margin-bottom: 15px;
  }
  .menu-section:not(:last-child)::after {
    display: none;
  }
  .menu-section h3 {
    font-size: 14px;
  }
  .menu-section ul li {
    font-size: 12px;
  }
}
/* header */

.buttons {
  min-width: 310px;
  text-align: center;
  margin: 1rem 0;
  font-size: 0;
}

.buttons button {
  cursor: pointer;
  border: 1px solid silver;
  border-right-width: 0;
  background-color: #f8f8f8;
  font-size: 1rem;
  padding: 0.5rem;
  transition-duration: 0.3s;
  margin: 0;
}

.buttons button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.buttons button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-right-width: 1px;
}

.buttons button:hover {
  color: white;
  background-color: rgb(158 159 163);
  outline: none;
}

.buttons button.active {
  background-color: #0051b4;
  color: white;
}

.pointer {
  cursor: pointer;
}
