.newsBg {
  background-color: #e3eded;
}

.infoBg {
  background-color: #79a8a9;
}

.selectBtnCustom {
  width: 10.125rem;
  height: 2.5rem;
  border: 1px solid #000;
  border-radius: 2rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.selectBtnCustom.active {
  border: none;
  background-color: #50b8af;
  color: #fff;
}

.newsSwiper .swiper-button-prev:after,
.newsSwiper .swiper-button-next:after {
  content: '';
}

.swiper-pagination-bullet-active {
  background-color: #525252;
}

.newsBg .nav-tabs .nav-link:hover,
.newsBg .nav-tabs .nav-link.active {
  border-bottom: 2px solid #34847c !important;
}

.newsContent li {
  display: flex;
  align-items: center;
  /* height: 50px; */
}

.newsContent time {
  width: 25%;
}

.newsContent > li > p {
  width: 75%;
}

.infoSwiper {
  position: static;
}

.infoSwiper .swiper-slide {
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
}

.infoSwiper .swiper-button-prev {
  left: 8px;
}

.infoSwiper .swiper-button-next {
  right: 8px;
}

.infoSwiper .swiper-button-prev:after {
  content: 'prev';
  color: #fff;
  font-weight: 700;
}

.infoSwiper .swiper-button-next:after {
  content: 'next';
  color: #fff;
  font-weight: 700;
}

#service-tab button:hover,
#service-tab .active {
  background-color: #f2f2f2 !important;
  border-radius: 10px;
}

.serviceIcon {
  width: 25px;
  height: 25px;
}

/* 視覺化圖示 */
.svgContainer {
  width: 100%;
  height: 100%;
  max-width: 550px;
  max-height: 550px;
  /* aspect-ratio: 426 / 530; */
}

.svgContainer svg {
  width: 100%;
  height: 100%;
}

.regionLabel {
  font-size: 14px;
  fill: #333;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.region rect {
  fill: #a8d5a2;
  stroke: #ffffff;
  stroke-width: 1;
  transition: fill 0.3s ease;
}

.region:hover rect {
  fill: #7fcf7c;
}

.region .regionLabel.showingValue {
  opacity: 0;
  transform: translateY(-5px);
}

.region .regionLabel.valueShown {
  opacity: 1;
  transform: translateY(0);
}
/* 視覺化圖示 */

.businessWrap ul li a {
  position: relative;
  display: block !important;
  color: #ffffff;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.businessWrap ul li a::before {
  content: '';
  z-index: 1;
  border-color: rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 0;
  transition: border-width 0.3s ease;
}

.businessWrap ul li a::before,
.businessWrap ul li a .imgInner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.businessWrap ul li a .imgInner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(118, 118, 113, 0.8);
  z-index: 2;
}

.businessWrap ul li a:hover::before {
  border-width: 10px;
}

.businessWrap .picFill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hoverScale,
.hoverScale a {
  display: block;
  overflow: hidden;
}

.hoverScale .pic {
  overflow: hidden;
  backface-visibility: hidden;
  transform: scale(1.01);
  transition-property: transform;
  transition-duration: 0.75s;
  transition-timing-function: ease;
}

.hoverScale:hover .pic {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .selectBtnCustom {
    width: 11.125rem;
    height: 2.5rem;
  }
}

@media (min-width: 992px) {
  .newsContent time {
    width: 15%;
  }

  .newsContent > li > p {
    width: 85%;
  }

  .serviceIcon {
    width: 50px;
    height: 50px;
  }
}

#loginHeader,
#cardForm,
#accountForm {
  position: relative;
  animation: none;
}

.line {
  margin: auto;
  -webkit-transform: translateY(76px);
  -moz-transform: translateY(76px);
  -o-transform: translateY(76px);
  transform: translateY(0px);
  height: 80px;
  opacity: 1;
  border-right: solid black 1px;
  -webkit-animation: expand 1s 1 ease-in-out;
  -moz-animation: expand 1s 1 ease-in-out;
  -o-animation: expand 1s 1 ease-in-out;
  animation: expand 1s 1 ease-in-out;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    height: 0px;
    opacity: 0;
  }
  1% {
    height: 5px;
    opacity: 1;
  }
  100% {
    height: 80px;
  }
}
